:local(.albums) {
  display: grid;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  align-content: space-evenly;

  @media (min-width: 650px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  @media (min-width: 1050px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}